﻿@model Pet
<form asp-controller="Home" asp-action="UpdatePet" method="post">
    <input type="hidden" asp-for="Id"/>
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="PetSubTypeId"></label>
        <select class="form-control" asp-for="PetSubTypeId" asp-items="@(new SelectList(ViewBag.PetSubTypes, "Id", "Name"))">
            <option selected="selected" disabled="disabled">Выберите тип</option>
        </select>
        <span asp-validation-for="PetSubTypeId"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input class="form-control" asp-for="Age"/>
        <span asp-validation-for="Age"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>