﻿@model List<PetType>

@if (Model.Any())
{
    <h4>Виды животных:</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var type in Model)
        {
            <tr>
                <td>
                    @type.Name
                </td>
                <td>
                    @type.Description
                </td>
                <td>
                    <a asp-controller="Home" asp-action="UpdatePetType" asp-route-id="@type.Id">Изменить</a><br>
                    <a asp-controller="Home" asp-action="DeletePetType" asp-route-id="@type.Id">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h3>Пока нет типов животных(</h3>
}