﻿@model List<Pet>

@if (Model.Any())
{
    <h4>Питомцы:</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Кличка</th>
            <th>Тип животного</th>
            <th>Возраст</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pet in Model)
        {
            <tr>
                <td>
                    @pet.Name
                </td>
                <td>
                    @pet.GetFullTypeName()
                </td>
                <td>
                    @pet.Age
                </td>
                <td>
                    <a asp-controller="Home" asp-action="UpdatePet" asp-route-id="@pet.Id">Изменить</a><br>
                    <a asp-controller="Home" asp-action="DeletePet" asp-route-id="@pet.Id">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h3>Пока нет животных(</h3>
}