﻿@model PetType
<form asp-controller="Home" asp-action="UpdatePetType" method="post">
    <input type="hidden" asp-for="Id"/>
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>