﻿@model List<PetSubType>

@if (Model.Any())
{
    <h4>Породы животных:</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Тип</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var subType in Model)
        {
            <tr>
                <td>
                    @subType.Name
                </td>
                <td>
                    @subType.Description
                </td>
                <td>
                    @subType.PetType.Name
                </td>
                <td>
                    <a asp-controller="Home" asp-action="UpdatePetSubType" asp-route-id="@subType.Id">Изменить</a><br>
                    <a asp-controller="Home" asp-action="DeletePetSubType" asp-route-id="@subType.Id">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h3>Пока нет подтипов животных(</h3>
}