﻿@model PetSubType
<form asp-controller="Home" asp-action="UpdatePetSubType" method="post">
    <input type="hidden" asp-for="Id"/>
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="PetTypeId"></label>
        <select class="form-control" asp-for="PetTypeId" asp-items="@(new SelectList(ViewBag.PetTypes, "Id", "Name"))">
            <option selected="selected" disabled="disabled">Выберите тип</option>
        </select>
        <span asp-validation-for="PetTypeId"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>